
@{
    ViewBag.Title = "Home";
}
<div class="container mt-150">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Welcome To Leave Management System</h1>
                <h3>SIMPLIFY YOUR LEAVE MANAGEMENT</h3>
                <p class="lead">Developed For Leave Management</p>
            </div>
        </div>
    </div>

</div>

<script>
    $("a[href='/home/index']").attr("id", "active");
</script>